<table class="table table-hover">
	<caption><strong>Step List</strong></caption>
	<thead>
		<tr>
			<th class='col-sm-2'>Name</th>
			<th>Description</th>
			<th width=120> Action</th>
		</tr>
	</thead>
	<tbody>
		<% @steps.each do |step| %>
			<tr>
				<td><%= step.display_name %></td>
				<td><%= step.description %></td>
				<td>
				   <%= link_to admin_step_step_permissions_path(step) do %>
							<i class='glyphicon glyphicon-eye-open'></i> Permission
				   <% end %>

				</td>
			</tr>
		<% end %>
	</tbody>
</table>
