.bundle
db/*.sqlite3
log/*.log
tmp/**/*
*.log
*.log.*
*.sqlite3
*.tmp*~
*.orig
*.pid
*.*~
*.o
*.so
*.swp
.DS_Store
tmp/*
spec/reports/*
public/assets
public/applications
nbproject/*

config/application.yml
config/database.yml


vendor/ruby
