<table class="table table-hover">
	<caption><strong>Step List</strong></caption>
	<thead>
		<tr>
			<th class='col-sm-2'>Name</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<% @steps.each do |step| %>
			<tr>
				<td><%= link_to step.display_name, edit_step_path(step.name) %></td>
				<td><%= step.description %></td>
			</tr>
		<% end %>
	</tbody>
</table>
