<ol class="breadcrumb">
 	<li><%= link_to controller_name, "/#{params[:controller]}" %></li>
 	<% if params[:id] %>
 		<li><%= params[:id] %></li>
	<% else %>
		<li><%= action_name %></li>
 	<% end %>
</ol>
