<% flash.each do |key, value| %>
	<% css_class = key == 'notice' ? 'alert-success' : 'alert-danger' %>
  <div class='alert <%= css_class %> alert-dismissible'>
    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
    <%= value %>
  </div>
<% end %>
