<% if current_access.present? %>
  <ul class="nav pull-right">
    <li class="dropdown">
      <% if user_signed_in? %>
        <a data-toggle="dropdown" class="dropdown-toggle blog-nav-item" href="#">
          <%= current_access['email'] %><b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to 'Sign out', sign_out_path, 
                        method: 'delete', 
                        data: { confirm: 'Are you sure to sign out' } %>
          </li>
        </ul>
      <% end %>
    </li>
  </ul>
<% else %>
  <%= link_to 'Sign in', sign_in_path, class: 'blog-nav-item' %>
<% end %>
